<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmergencyHospitalCare</display-name>
  <welcome-file-list>
        <welcome-file>register.jsp</welcome-file>
    </welcome-file-list>
  <context-param>
    <param-name>priority1</param-name>
    <param-value>Emergency:red:immediate response</param-value>
  </context-param>
  <context-param>
    <param-name>priority2</param-name>
    <param-value>Very Urgent:orange:up to 1 hour</param-value>
  </context-param>
  <context-param>
    <param-name>priority3</param-name>
    <param-value>Urgent:yellow:1-3 hours</param-value>
  </context-param>
  <context-param>
    <param-name>priority4</param-name>
    <param-value>Less Urgent:green:3-6 hours</param-value>
  </context-param>
  <context-param>
    <param-name>priority5</param-name>
    <param-value>Non Urgent:blue:6-10 hours</param-value>
  </context-param>

  <servlet>
    <description></description>
    <display-name>PatientRegistryServlet</display-name>
    <servlet-name>PatientRegistryServlet</servlet-name>
    <servlet-class>hospital.patient.registration.PatientRegistryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegistryServlet</servlet-name>
    <url-pattern>/PatientRegistryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaseSubmissionServlet</display-name>
    <servlet-name>CaseSubmissionServlet</servlet-name>
    <servlet-class>hospital.CaseSubmittion.CaseSubmissionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseSubmissionServlet</servlet-name>
    <url-pattern>/CaseSubmissionServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
<listener>
    <listener-class>hospital.CaseManagement.DatabaseDriverLoaderListener</listener-class>
</listener>
<listener>
    <listener-class>hospital.CaseManagement.CaseStatusUpdaterListener</listener-class>
</listener>
  <servlet>
    <description></description>
    <display-name>CaseManagementServlet</display-name>
    <servlet-name>CaseManagementServlet</servlet-name>
    <servlet-class>hospital.CaseManagement.CaseManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseManagementServlet</servlet-name>
    <url-pattern>/CaseManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>hospital.login.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServlet</display-name>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>hospital.CaseManagement.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/AdminDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AadminLoginServlet</display-name>
    <servlet-name>AadminLoginServlet</servlet-name>
    <servlet-class>hospital.AdminLogin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AadminLoginServlet</servlet-name>
    <url-pattern>/AadminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionOfficerDashboardServlet</display-name>
    <servlet-name>AdmissionOfficerDashboardServlet</servlet-name>
    <servlet-class>hospital.CaseManagement.AdmissionOfficerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionOfficerDashboardServlet</servlet-name>
    <url-pattern>/AdmissionOfficerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDashboardServle</display-name>
    <servlet-name>AdminDashboardServle</servlet-name>
    <servlet-class>hospital.servlet.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDashboardServle</servlet-name>
    <url-pattern>/AdminDashboardServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaseServlet</display-name>
    <servlet-name>CaseServlet</servlet-name>
    <servlet-class>hospital.servlet.CaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseServlet</servlet-name>
    <url-pattern>/CaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaseListServlet</display-name>
    <servlet-name>CaseListServlet</servlet-name>
    <servlet-class>hospital.CaseManagement.CaseListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaseListServlet</servlet-name>
    <url-pattern>/CaseListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCaseServlet</display-name>
    <servlet-name>AdminCaseServlet</servlet-name>
    <servlet-class>hospital.servlet.AdminCaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCaseServlet</servlet-name>
    <url-pattern>/AdminCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdmissionOfficeDashboardController</display-name>
    <servlet-name>AdmissionOfficeDashboardController</servlet-name>
    <servlet-class>hospital.model.AdmissionOfficeDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdmissionOfficeDashboardController</servlet-name>
    <url-pattern>/AdmissionOfficeDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminStatusServlet</display-name>
    <servlet-name>AdminStatusServlet</servlet-name>
    <servlet-class>hospital.AdminLogin.AdminDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminStatusServlet</servlet-name>
    <url-pattern>/AdminStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NurseDashboardServlet</display-name>
    <servlet-name>NurseDashboardServlet</servlet-name>
    <servlet-class>hospital.nurse.NurseDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NurseDashboardServlet</servlet-name>
    <url-pattern>/NurseDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>hospital.staff.StaffServlet</servlet-class>
  </servlet>
  
</web-app>
